.button
{
    background-color: #5D3BE2;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover
{
    background-color: #4723D9;
}

.button:disabled
{
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.button.danger{
    background-color: #e44f4f;
}
.button.danger:hover{
    background-color: red;
}
.button.button.danger:disabled{
    background-color: #eb9a9a;
}

.button.success{
    background-color: #4CAF50;
}
.button.success:hover{
    background-color: #45a049;
}
.button.success:disabled{
    background-color: #a0dab3;
}

.button.warning{
    background-color: #f4e542;
    color:#666;
}
.button.warning:hover{
    background-color: #ffea00;
}
.button.warning:disabled{
    background-color: #f4e542;
}